{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h3>Login</h3>
    </div>

    <div class="panel-body">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        
        <form action="{{ path('login') }}" method="post">
        
        <div class="form-group">
        <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
        </div>
        <div class="form-group">

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" class="form-control" />
        </div>
            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button type="submit" class="btn btn-info pull-right">login</button>
        </form>
    </div>
</div>



{% endblock %}


